html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
	font-family: Jazz LET, fantasy;
}
canvas {
	display: block;
}
form {
	display: inline-block;
	background-color: #e0e0e0;
	border: 3px solid #444444;
	border-radius: 30px;
	padding: 30px;
}

div {
	padding: 10px;
	margin: auto;
	display: table;
	font-size: 30px;
}

input {
	font-size: 20px;
	margin: 10px;
}

input[type=submit]{
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

h1 {
	padding: 10px;
	font-size: 40px;
	font-weight: normal;
}

body > div {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
