{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>controle des robots</title>
		<link rel="stylesheet" type="text/css" href="{% static "controle/style.css" %}">
		<script src="{% static "controle/canvas.js" %}"></script>
	</head>
	<body>
		<canvas id="canvas">
			le navigateur est trop vieux pour afficher l'application
		</canvas>
	</body>
</html>
