{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>connextion</title>
		<link rel="stylesheet" type="text/css" href="{% static "controle/style.css" %}">
	</head>
	<body>
		<div><form action="controle" method="get">
			<h1>Connexion</h1>
			<div>adresse:<input type="text" name="address"></div>
			<div><input type="submit" value="connexion"></div>
		</form></div>
	</body>
</html>
